//! **************************************************************************
// Written by: Map P.20131013 on Tue May 14 03:08:15 2024
//! **************************************************************************

SCHEMATIC START;
COMP "inRST" LOCATE = SITE "Y8" LEVEL 1;
COMP "iCLK" LOCATE = SITE "AE14" LEVEL 1;
COMP "iDATA<5>" LOCATE = SITE "W11" LEVEL 1;
COMP "iDATA<6>" LOCATE = SITE "W12" LEVEL 1;
COMP "iDATA<7>" LOCATE = SITE "W13" LEVEL 1;
COMP "iARITH" LOCATE = SITE "Y12" LEVEL 1;
COMP "oSHREG<0>" LOCATE = SITE "AB7" LEVEL 1;
COMP "oSHREG<1>" LOCATE = SITE "AB8" LEVEL 1;
COMP "oSHREG<2>" LOCATE = SITE "AB9" LEVEL 1;
COMP "oSHREG<3>" LOCATE = SITE "AA9" LEVEL 1;
COMP "oSHREG<4>" LOCATE = SITE "AA10" LEVEL 1;
COMP "oSHREG<5>" LOCATE = SITE "AA11" LEVEL 1;
COMP "iLOAD" LOCATE = SITE "Y9" LEVEL 1;
COMP "oSHREG<6>" LOCATE = SITE "AD12" LEVEL 1;
COMP "oSHREG<7>" LOCATE = SITE "Y13" LEVEL 1;
COMP "iSHL" LOCATE = SITE "Y10" LEVEL 1;
COMP "iSHR" LOCATE = SITE "Y11" LEVEL 1;
NET "iCLK_BUFGP/IBUFG" BEL "iCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

